@page "/ban-tin/tin-phong-kham/page/{number?}"
@using CharityClinic.Data.Model;
@using CharityClinic.Services;
@inject IJSRuntime JS
@inject IBaseService<NewsDb> newsService;

<section id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row-fluid fadeInDown animated" id="breadcrumb" style="visibility: visible;">
            <div id="sp-breadcrumb" class="span12">
                <ul class="breadcrumb ">
                    <li class="active"><i class="fa fa-home" title="You are here: "></i></li>
                    <li><a href="/" class="pathway">Home</a></li>
                    <li><span>/</span><a href="#" class="pathway">Bản tin</a></li>
                    <li><span>/</span><span>Tin Phòng Khám</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
                <section id="sp-component-area-wrapper" class=" ">
                    <div class="row-fluid fadeInDown animated" id="component-area" style="visibility: visible;">
                        <div id="sp-component-area" class="span12">
                            <section id="sp-component-wrapper">
                                <div id="sp-component">
                                    <div id="system-message-container">
                                    </div>
                                    <section class="blog ">
                                        <section class="category-desc media">
                                            <div class="page-header">
                                                <h1>
                                                    Tin tức Phòng khám
                                                </h1>
                                            </div>
                                        </section>
                                        @for(int i = 0; i<news.Count; i++)
                                        {
                                            <div class="items-row cols-2 row-0 row-fluid clearfix fadeInDown animated" style="visibility: visible;">
                                                <div class="span6">
                                                    <div class="item column-1">
                                                        <article class="post-119 post hentry status-publish category-tin-tuc-phong-kham">
                                                            <header class="entry-header">
                                                                <h2 class="entry-title">
                                                                    <a href="/ban-tin/tin-phong-kham/@news[i].Id" rel="bookmark" title="NỐI KẾT">
                                                                        @news[i].Tiltle
                                                                    </a>
                                                                </h2>
                                                            </header>
                                                            <div class="entry-meta muted clearfix">
                                                                <time class="create-date" datetime="2023-10-13 10:21:32">
                                                                    <i class="icon-time"></i>
                                                                    @news[i].TimeCreate
                                                                </time>
                                                            </div>
                                                            <section class="entry-content media">
                                                                <div class="pull-left">
                                                                    <img class="introtext-image" src="@news[i].PathImg" alt="">
                                                                </div>
                                                                <p>@((MarkupString)@news[i].Content.Substring(0,250))</p>
                                                                <a class="vina-readmore" href="/ban-tin/tin-phong-kham/@news[i].Id">
                                                                    Read more ...
                                                                </a>
                                                            </section>
                                                            <footer class="entry-meta">
                                                            </footer>
                                                        </article>
                                                    </div>
                                                    <!-- end item -->
                                                </div>
                                                @if (i != news.Count - 1) {{ i++; }
                                                <!-- end span -->
                                                <div class="span6">
                                                    <div class="item column-2">
                                                        <article class="post-117 post hentry status-publish category-tin-tuc-phong-kham">
                                                            <header class="entry-header">
                                                                <h2 class="entry-title">
                                                                    <a href="/ban-tin/tin-phong-kham/@news[i].Id" rel="bookmark" title="NỐI KẾT">
                                                                        @news[i].Tiltle
                                                                    </a>
                                                                </h2>
                                                            </header>
                                                            <div class="entry-meta muted clearfix">
                                                                <time class="create-date" datetime="2023-10-01 02:51:10">
                                                                    <i class="icon-time"></i>
                                                                    @news[i].TimeCreate
                                                                </time>
                                                            </div>
                                                            <section class="entry-content media">
                                                                <div class="pull-left">
                                                                    <img class="introtext-image" src="@news[i].PathImg" alt="">
                                                                </div>
                                                                <p>@((MarkupString)@news[i].Content.Substring(0, 250))</p>
                                                                <a class="vina-readmore" href="/ban-tin/tin-phong-kham/@news[i].Id">
                                                                    Read more ...
                                                                </a>
                                                            </section>
                                                            <footer class="entry-meta">
                                                            </footer>
                                                        </article>
                                                    </div>
                                                    <!-- end item -->
                                                </div>
                                                <!-- end span -->
                                                }
                                            </div>
                                            <!-- end row -->
                                            
                                        }
                                        <div class="pagination">
                                            <p class="counter pull-right"> Page @number of @pageSize </p>
                                            <ul style ="display: flex;">
                                                @for(int i = 1; i <= pageSize; i++)
                                                {
                                                    int page = i;
                                                    <li><a class="" href="javascript:void(0)" @onclick=@(e => WinLoad("/ban-tin/tin-phong-kham/page/" + page))>@i</a></li><span>-</span>
                                                }
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
@code {
    [Parameter]
    public string number { get; set; } = "1";
    public int pageSize { get; set; } = 1;
    public List<NewsDb> news = new List<NewsDb>();

    protected async override void OnInitialized()
    {
        try
        {
            var allPage = await newsService.GetAll();
            pageSize = Convert.ToInt16(Math.Ceiling((decimal)allPage.Count() / (decimal)6));
            news = allPage.OrderByDescending(d => d.Id).Skip((int.Parse(number ?? "1") - 1) * 6).Take(6).ToList();
            StateHasChanged();
        }
        catch
        {
            
        }
    }
    private async void WinLoad(string url)
    {
        await JS.InvokeVoidAsync("WinLoad", url);
    }

}