@page "/su-vu/ho-tro-cong-dong/cham-soc-muc-vu/{number?}"
@using CharityClinic.Data.Model;
@using CharityClinic.Services;
@inject IJSRuntime JS
@inject IBaseService<ChamSoc> chamSocsService;

<section id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row-fluid fadeInDown animated" id="breadcrumb" style="visibility: visible;">
            <div id="sp-breadcrumb" class="span12">
                <ul class="breadcrumb ">
                    <li class="active"><span><i class="icon-map-marker hasTooltip" title="You are here: "></i></span></li>
                    <li><a href="/" class="pathway">Home</a><span>/</span></li>
                    <li><span>Sứ Vụ</span><span>/</span></li>
                    <li><a href="#" class="pathway">Hổ trợ cộng đồng</a></li>
                    <li><span>/</span><span>Chăm sóc mục vụ</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
                <section id="sp-component-area-wrapper" class=" ">
                    <div class="row-fluid fadeInDown animated" id="component-area" style="visibility: visible;">
                        <div id="sp-component-area" class="span12">
                            <section id="sp-component-wrapper">
                                <div id="sp-component">
                                    <div id="system-message-container">
                                    </div>
                                    <section class="blog ">
                                        <section class="category-desc media">
                                            <div class="page-header">
                                                <h1>
                                                    Chăm sóc mục vụ
                                                </h1>
                                            </div>
                                        </section>
                                        @for (int i = 0; i < chamSocs.Count; i++)
                                        {
                                            <div class="items-row cols-2 row-0 row-fluid clearfix fadeInDown animated" style="visibility: visible;">
                                                <div class="span6">
                                                    <div class="item column-1">
                                                        <article class="post-119 post hentry status-publish category-tin-tuc-phong-kham">
                                                            <header class="entry-header">
                                                                <h2 class="entry-title">
                                                                    <a href="/su-vu/ho-tro-cong-dong/cham-soc-muc-vu/detail/@chamSocs[i].Id" rel="bookmark" title="NỐI KẾT">
                                                                        @chamSocs[i].Title
                                                                    </a>
                                                                </h2>
                                                            </header>
                                                            <div class="entry-meta muted clearfix">
                                                                <time class="create-date" datetime="2023-10-13 10:21:32">
                                                                    <i class="icon-time"></i>
                                                                    @chamSocs[i].TimeCreate
                                                                </time>
                                                            </div>
                                                            <section class="entry-content media">
                                                                <div class="pull-left">
                                                                    <img class="introtext-image" src="@chamSocs[i].PathImg" alt="">
                                                                </div>
                                                                <p>@((MarkupString)@chamSocs[i].Content.Substring(0, 250))</p>
                                                                <a class="vina-readmore" href="/su-vu/ho-tro-cong-dong/cham-soc-muc-vu/detail/@chamSocs[i].Id">
                                                                    Read more ...
                                                                </a>
                                                            </section>
                                                            <footer class="entry-meta">
                                                            </footer>
                                                        </article>
                                                    </div>
                                                    <!-- end item -->
                                                </div>
                                                @if (i != chamSocs.Count - 1)
                                                {
                                                    { i++; }
                                                    <!-- end span -->
                                                    <div class="span6">
                                                        <div class="item column-2">
                                                            <article class="post-117 post hentry status-publish category-tin-tuc-phong-kham">
                                                                <header class="entry-header">
                                                                    <h2 class="entry-title">
                                                                        <a href="/su-vu/ho-tro-cong-dong/cham-soc-muc-vu/detail/@chamSocs[i].Id" rel="bookmark" title="NỐI KẾT">
                                                                            @chamSocs[i].Title
                                                                        </a>
                                                                    </h2>
                                                                </header>
                                                                <div class="entry-meta muted clearfix">
                                                                    <time class="create-date" datetime="2023-10-01 02:51:10">
                                                                        <i class="icon-time"></i>
                                                                        @chamSocs[i].TimeCreate
                                                                    </time>
                                                                </div>
                                                                <section class="entry-content media">
                                                                    <div class="pull-left">
                                                                        <img class="introtext-image" src="@chamSocs[i].PathImg" alt="">
                                                                    </div>
                                                                    <p>@((MarkupString)@chamSocs[i].Content.Substring(0, 250))</p>
                                                                    <a class="vina-readmore" href="/su-vu/ho-tro-cong-dong/cham-soc-muc-vu/detail/@chamSocs[i].Id">
                                                                        Read more ...
                                                                    </a>
                                                                </section>
                                                                <footer class="entry-meta">
                                                                </footer>
                                                            </article>
                                                        </div>
                                                        <!-- end item -->
                                                    </div>
                                                    <!-- end span -->
                                                }
                                            </div>
                                            <!-- end row -->
                                        }
                                        <div class="pagination">
                                            <p class="counter pull-right"> Page @number of @pageSize </p>
                                            <ul style="display: flex;">
                                                @for (int i = 1; i <= pageSize; i++)
                                                {
                                                    int page = i;
                                                    <li><a class="" href="javascript:void(0)" @onclick=@(e => WinLoad("/su-vu/ho-tro-cong-dong/cham-soc-muc-vu/" + page))>@i</a></li>
                                                    <span>-</span>
                                                }
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
@code {
    [Parameter]
    public string number { get; set; } = "1";
    public int pageSize { get; set; } = 1;
    public List<ChamSoc> chamSocs = new List<ChamSoc>();

    protected async override void OnInitialized()
    {
        try
        {
            var allPage = await chamSocsService.GetAll();
            pageSize = Convert.ToInt16(Math.Ceiling((decimal)allPage.Count() / (decimal)6));
            chamSocs = allPage.OrderByDescending(d => d.Id).Skip((int.Parse(number ?? "1") - 1) * 6).Take(6).ToList();
            StateHasChanged();
        }
        catch
        {

        }
    }
    private async void WinLoad(string url)
    {
        await JS.InvokeVoidAsync("WinLoad", url);
    }

}